1. Run agglomerative cluster analysis using different linkage methods based on quantitative environmental variables, using sites from the Douro and Tejo basins.

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats 
from scipy.cluster.hierarchy import dendrogram, linkage 
from sklearn.cluster import AgglomerativeClustering

In [3]:
df = pd.read_csv('EFIplus_medit.zip',compression='zip', sep=";")
df = df.dropna()

In [4]:
#enviromental variables
# "Altitude", 
# "Actual_river_slope"
# "Elevation_mean_catch" 
# "prec_ann_catch"
# "temp_ann"
# "temp_jan"
# "temp_jul"

In [24]:
df_tejodouro = df[(df['Catchment_name']=='Douro')], df[(df['Catchment_name']=='Tejo')]
df_tejodouro

(       Site_code   Latitude  Longitude   Country Catchment_name  Galiza  \
 18    ES_03_0001  41.957268  -2.926857     Spain          Douro       0
 19    ES_03_0002  41.850818  -2.591150     Spain          Douro       0
 28    ES_03_0012  41.498026  -5.528753     Spain          Douro       0
 32    ES_03_0016  41.586853  -3.072064     Spain          Douro       0
 43    ES_03_0029  41.830177  -3.782420     Spain          Douro       0
 ...          ...        ...        ...       ...            ...     ...
 4382     PTDO268  41.151175  -7.775952  Portugal          Douro       0
 4383     PTDO269  41.160383  -7.660660  Portugal          Douro       0
 4384     PTDO270  41.145588  -7.353348  Portugal          Douro       0
 4385     PTDO271  41.104665  -7.099140  Portugal          Douro       0
 4386     PTDO272  41.046627  -8.440090  Portugal          Douro       0

       Subsample  Calib_EFI_Medit  Calib_connect  Calib_hydrol  ...  \
 18            1                1              1             1  ...
 19            1                0              1             0  ...
 28            1                0              1             0  ...
 32            1                0              1             0  ...
 43            1                0              1             0  ...
 ...         ...              ...            ...           ...  ...
 4382          1                0              1             0  ...
 4383          1                0              1             0  ...
 4384          1                0              0             0  ...
 4385          1                0              1             0  ...
 4386          1                0              0             0  ...

       Squalius malacitanus  Squalius pyrenaicus  Squalius torgalensis  \
 18                       0                    0                     0
 19                       0                    0                     0
 28                       0                    0                     0
 32                       0                    0                     0
 43                       0                    0                     0
 ...                    ...                  ...                   ...
 4382                     0                    0                     0
 4383                     0                    0                     0
 4384                     0                    0                     0
 4385                     0                    0                     0
 4386                     0                    0                     0

       Thymallus thymallus  Tinca tinca Zingel asper Squalius sp  Barbatula sp  \
 18                      0            0            0           1             0
 19                      0            0            0           1             0
 28                      0            0            0           1             0
 32                      0            0            0           1             0
 43                      0            0            0           1             0
 ...                   ...          ...          ...         ...           ...
 4382                    0            0            0           0             0
 4383                    0            0            0           0             0
 4384                    0            0            0           0             0
 4385                    0            0            0           0             0
 4386                    0            0            0           1             0

      Phoxinus sp  Iberochondrostoma_sp
 18             0                     0
 19             0                     0
 28             0                     0
 32             0                     0
 43             0                     0
 ...          ...                   ...
 4382           0                     0
 4383           0                     0
 4384           0                     0
 4385           0                     0
 4386           0                     0

 [272 rows x 164 columns],
        Site_code   Latitude  Longitude   Country Catchment_name  Galiza  \
 169   ES_09_0001  40.313007  -4.208666     Spain           Tejo       0
 179   ES_09_0011  40.865345  -3.434305     Spain           Tejo       0
 180   ES_09_0012  40.842675  -3.472116     Spain           Tejo       0
 181   ES_09_0013  40.774926  -3.515481     Spain           Tejo       0
 182   ES_09_0014  40.916247  -3.840772     Spain           Tejo       0
 ...          ...        ...        ...       ...            ...     ...
 4947     PTTA264  39.477852  -8.002427  Portugal           Tejo       0
 4948     PTTA265  39.477021  -8.106303  Portugal           Tejo       0
 4949     PTTA266  39.475082  -8.334351  Portugal           Tejo       0
 4950     PTTA267  39.453694  -8.432669  Portugal           Tejo       0
 4951     PTTA268  39.358698  -8.490446  Portugal           Tejo       0

       Subsample  Calib_EFI_Medit  Calib_connect  Calib_hydrol  ...  \
 169           1                0              0             0  ...
 179           1                0              1             0  ...
 180           1                0              1             0  ...
 181           1                0              1             0  ...
 182           1                1              1             1  ...
 ...         ...              ...            ...           ...  ...
 4947          1                0              0             0  ...
 4948          1                0              0             0  ...
 4949          1                0              1             0  ...
 4950          1                0              1             0  ...
 4951          1                0              1             0  ...

       Squalius malacitanus  Squalius pyrenaicus  Squalius torgalensis  \
 169                      0                    1                     0
 179                      0                    1                     0
 180                      0                    1                     0
 181                      0                    1                     0
 182                      0                    1                     0
 ...                    ...                  ...                   ...
 4947                     0                    0                     0
 4948                     0                    1                     0
 4949                     0                    0                     0
 4950                     0                    0                     0
 4951                     0                    1                     0

       Thymallus thymallus  Tinca tinca Zingel asper Squalius sp  Barbatula sp  \
 169                     0            0            0           1             0
 179                     0            0            0           1             0
 180                     0            0            0           1             0
 181                     0            0            0           1             0
 182                     0            0            0           1             0
 ...                   ...          ...          ...         ...           ...
 4947                    0            0            0           0             0
 4948                    0            0            0           1             0
 4949                    0            0            0           0             0
 4950                    0            0            0           0             0
 4951                    0            0            0           1             0

      Phoxinus sp  Iberochondrostoma_sp
 169            0                     0
 179            0                     0
 180            0                     0
 181            0                     0
 182            0                     0
 ...          ...                   ...
 4947           0                     0
 4948           0                     0
 4949           0                     0
 4950           0                     0
 4951           0                     0

 [235 rows x 164 columns])

In [25]:
df_enviroment= df[["Altitude", "Actual_river_slope","Elevation_mean_catch", "prec_ann_catch","temp_ann","temp_jan","temp_jul"]]

In [23]:
dendrogram_plot = dendrogram(linkage(df_sub, method='single'))
plt.title('single linkage' )
plt.xlabel('objects')
plt.ylabel('Distance')

C:\Users\Miguel Paulo\AppData\Roaming\Python\Python310\site-packages\scipy\cluster\hierarchy.py:1046: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  y = _convert_to_double(np.asarray(y, order='c'))

ValueError: setting an array element with a sequence.