# Analysis and Visualization of Complex Agro-Environmental Data
---
## Data transformation

### 1. Reshaping Pandas DataFrames by stacking/unstacking and pivoting

In many situations, it is important to reshape the data tables to prepare data to be analysed or visualized using certain functions. Here, the most common reshaping operations are demonstrated.

#### Create DataFrame

In [2]:
import pandas as pd

data = {'Hold': ['A', 'B', 'C', 'D', 'A', 'C', 'B', 'C', 'A', 'A', 'A', 'B', 'C', 'D', 'C', 'B', 'B', 'C', 'D', 'A'],
        'Year': [2001, 2001, 2001, 2001, 2002, 2002, 2002, 2002, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2004, 2005, 2005, 2005, 2005],
        'Fruit': ['strawberry', 'blackberry', 'raspberry', 'blue berry', 'gooseberry', 'strawberry', 'blackberry', 'raspberry', 'blue berry', 'gooseberry', 'strawberry', 'blackberry', 'raspberry', 'blue berry', 'gooseberry', 'strawberry', 'blackberry', 'raspberry', 'blue berry', 'gooseberry'],
        'Production': [1000, 300, 400, 500, 800, 1000, 500, 700, 50, 60, 1000, 900, 750, 200, 300, 1000, 900, 250, 750, 50],
        }

df = pd.DataFrame(data)
print(df)

   Hold  Year       Fruit  Production
0     A  2001  strawberry        1000
1     B  2001  blackberry         300
2     C  2001   raspberry         400
3     D  2001  blue berry         500
4     A  2002  gooseberry         800
5     C  2002  strawberry        1000
6     B  2002  blackberry         500
7     C  2002   raspberry         700
8     A  2003  blue berry          50
9     A  2003  gooseberry          60
10    A  2003  strawberry        1000
11    B  2003  blackberry         900
12    C  2004   raspberry         750
13    D  2004  blue berry         200
14    C  2004  gooseberry         300
15    B  2004  strawberry        1000
16    B  2005  blackberry         900
17    C  2005   raspberry         250
18    D  2005  blue berry         750
19    A  2005  gooseberry          50

#### Stack and Unstack

In [ ]:
# Unstack part
df2 = df[['Fruit', 'Hold', 'Production']]
df2 = df2.set_index(['Hold', 'Fruit'], append=True)
df2Unstack = df2.unstack()
df2Unstack

In [ ]:
# Unstack part ('Hold' as columns)
df2 = df[['Fruit', 'Hold', 'Production']]
df2 = df2.set_index(['Hold', 'Fruit'], append=True)
df2unstack = df2.unstack(level=1)
df2unstack

In [ ]:
# Stack
df2stack = df2unstack.stack()
df2stack

#### Pivot table

A more useful and versatile function to unstack a data table is the pandas' pivot_table() function. After normalizing a given dataset, it is frequently useful to pivoting a table in order to convert a categorical variable with n classes into n separate variables. The values may represent different  summarizations of a continuous variable associated to each category, such as the sum, the mean, the maximum, ...

Run the examples below using the same DataFrame created above.

In [3]:
pd.pivot_table(
    data=df,
    index='Hold', # lines will be indexed by 'Hold'
    columns='Fruit', # Columns defined by the 'Fruit' categories
    values='Production', # The values in the resulting table
    aggfunc='sum' # sums the production by 'Hold'
)

Fruit  blackberry  blue berry  gooseberry  raspberry  strawberry
Hold
A             NaN        50.0       910.0        NaN      2000.0
B          2600.0         NaN         NaN        NaN      1000.0
C             NaN         NaN       300.0     2100.0      1000.0
D             NaN      1450.0         NaN        NaN         NaN

In [ ]:
pd.pivot_table(
    data=df,
    index='Hold',
    columns=['Fruit','Year'], # Columns defined by the 'Fruit' and 'Year' categories
    values='Production'
)

In [ ]:
pd.pivot_table(
    data=df,
    index=['Hold', 'Year'],# lines will be indexed by 'Hold' and 'Year'
    columns='Fruit',
    values='Production'
)

### 2. Variable standardization and normalization

Variable standardization is used in many situations, namely when analyses involve variables measured in different units. It provides methods of rescaling variables without changing the probability distributions of the original data. It is a requirement and a common practice when certain statistical approaches and modelling algorithms are applied to data. For example, in regression-based methods, it allows to directly compare the effect sizes of variables that are measured in very different units; in some multivariate statistical approaches, it avoids giving very varying weights to variables measured in different units; when applying certain modelling algorithms such as Generalized Linar Mixed Models, a previous data standardization is a requirement.

The most commonly used standardization method involves centering and scaling operations (Z-score standardization), i.e., each observation  is subtracted by the mean and divided by the standard deviation, so that the new standardized variables has mean = 0 and the standard deviation = 1. After this standardization transformation, the transformed data is often called Z-score.

Standardizing variables is quite straightforward in python. Even so, there are some modules that implement variable standardization functions, such as the StandardScaler() function of the sklearn module.

In [1]:
import numpy as np
import scipy.stats as sts
import seaborn as sns

##### Standardize single variable

In [ ]:
var = sts.norm.rvs(scale=50, loc=150, size=1000)
sns.histplot(var)

In [ ]:
varstd = (var-var.mean())/var.std()
sns.histplot(varstd)

In [213]:
# Alternatively:
# Import Z-Score Standard Scaler from the Sklearn package
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

In [ ]:
var2 = pd.DataFrame(var)
varstd2 = scale.fit_transform(var2)
sns.histplot(varstd2)

##### Standardize several predictor variables at once

In [307]:

#create data frame
df3 = pd.DataFrame({'y': [8, 12, 15, 14, 19, 23, 25, 29],
                   'x1': [5, 7, 7, 9, 12, 9, 9, 4],
                   'x2': [11, 8, 10, 6, 6, 5, 9, 12],
                   'x3': [2, 2, 3, 2, 5, 5, 7, 9]})

In [ ]:
# define predictor variable columns
df3_x = df3[['x1', 'x2', 'x3']]

# standardize the values for each predictor variable - replace values in df by stadardized ones
df3[['x1', 'x2', 'x3']] = (df3_x-df3_x.mean())/df3_x.std()

#view new data frame
df3

In [ ]:
# view mean of each predictor variable column
df3[['x1', 'x2', 'x3']].mean()

In [ ]:
# view standard deviation of each predictor variable column
df3[['x1', 'x2', 'x3']].std()

##### Normalize data using min-max scaler

It normalizes the data into a range between 0 and 1 based on the formula:

In [ ]:
# define predictor variable columns
df4 = df3
df4_x = df4[['x1', 'x2', 'x3']]

# standardize the values for each predictor variable - replace values in df by stadardized ones
df4[['x1', 'x2', 'x3']] = (df4_x-df4_x.min())/(df4_x.max()-df4_x.min())
df4

### 3. Variable transformation

Variable transformation is a very commonly used procedure to prevent some potential statistical problems, especially when using parametric hypothesis testing such as t-test or regression-based methods. It is especially used to tranform variables with very skewed distributions to become more belly shaped. 

Logarithmic transformation is one of the most commonly used. A more general and complex transformations are the Box-Cox transformations, which involves the estimation of a parameter (lambda) to approximate as much as possible the variable to a normal distribution. For proportions, angular transformations such as the arcsin are more appropriate.

In [226]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
var = sts.expon.rvs(scale=1, loc=0, size=1000)
sns.histplot(var)

In [ ]:
# Logarithmic transformation
varlog = np.log10(var)
sns.histplot(varlog)

In [ ]:
# Square-root transformation
varsqrt = np.sqrt(var)
sns.histplot(varsqrt)

In [ ]:
# Cube-root transformation
varcbrt = np.cbrt(var)
sns.histplot(varcbrt)

In [281]:
# Box-cox transformation
from scipy import stats
fitted_data, fitted_lambda = stats.boxcox(var)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# creating axes to draw plots
fig, ax = plt.subplots(1, 2)
 
# plotting the original data(non-normal) and
# fitted data (normal)
sns.histplot(var, kde = True,
            label = "Original", ax = ax[0]).legend(loc = "upper right")
 
sns.histplot(fitted_data, kde = True,
            label = "Transformed", ax = ax[1]).legend(loc = "upper right")

# rescaling the subplots
fig.set_figheight(5)
fig.set_figwidth(10)
 
print(f"Lambda value used for Transformation: {fitted_lambda}")

In [ ]:
# Transform the values for each predictor variable in a table - replace values in df3 (see above) by standardized ones
df3[['x1', 'x2', 'x3']] = np.log10(df3[['x1', 'x2', 'x3']])
df3
# Alternative:
# df3[['x1', 'x2', 'x3']] = df3[['x1', 'x2', 'x3']].apply(np.log10)

### 4. Engineer features in the data

This kind of data transformation involves generating new variables from existing ones. A common procedure is to aggregate values for each category of a factor, using functions such as the sum, the mean, maximum, ... In other situations, new variables are generated simply by applying a given function (e.g. sum) to a set of columns in a data table.

A usefull function to generate new variables is again the pandas' pivot_table(), as shown by the  examples that follows using the df DataFrame generated above.

In [ ]:
# Generate the sum of each fruit production from df
df.pivot_table(index=['Fruit'], values=['Production'], aggfunc='sum')

In [ ]:
# Generate the sum of each fruit production at each farm hold
df.pivot_table(index=['Fruit', 'Hold'], values=['Production'], aggfunc='sum')

In [ ]:
# Generate the median, mean, max and sum of each fruit production per farm hold and year
df.pivot_table(index=['Year','Fruit', 'Hold'], values=['Production'], aggfunc={'median', 'mean', 'max', 'sum'})

In [ ]:
# Generating a new variable from summing variables x1, x2 and x3 of df3 generated above.
df3['Sum'] = df3[['x1', 'x2', 'x3']].sum(axis=1) # Sums the  variables and adds new variable called 'Sum'
df3

## References

Beginner Explanation for Data Transformation, https://towardsdatascience.com/beginner-explanation-for-data-transformation-9add3102f3bf

How to Standardize Data in Python (With Examples), https://www.statology.org/standardize-data-python/

Normalize a Pandas Column or Dataframe (w/ Pandas or sklearn), https://datagy.io/pandas-normalize-column/

Python | Box-Cox Transformation, https://www.geeksforgeeks.org/box-cox-transformation-using-python/

Pivot Tables in Pandas with Python, https://datagy.io/python-pivot-tables/

Transformations of Stack, Melt, Pivot Table in pandas, https://towardsdatascience.com/transformations-of-stack-melt-pivot-table-901292196d9e